<h1>Questions</h1>

<ul>
  <% @questions.each do |question| %>
    <li><%= link_to question.text, question_path(question) %></li>
  <% end %>
</ul>

<%= link_to "Add a new question", new_question_path %>

<% if current_user.admin == true %>
<h1> Admin </h1>
<%= link_to "Edit Users", users_path %>
<% end %>
